<div class="contenedor-juego">

  <div *ngIf="mostrarPreguntaInicial" class="pantalla-pregunta-inicial">
    <div class="cuadro-pregunta">
      <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco" alt="Marco">
      <div class="contenido-pregunta">
        <p class="texto-pregunta">¿Es tu primera partida?</p>
        <div class="botones-pregunta">
          <span class="btn-opcion efecto-hover" (click)="responderPrimeraPartida(true)">SÍ</span>
          <span class="btn-opcion efecto-hover" (click)="responderPrimeraPartida(false)">NO</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mostrarFondoPrologo" class="area-interactiva fondo-prologo"></div>

  <div *ngIf="mostrarNegroAbsoluto" class="pantalla-negra-absoluta"></div>

  <div *ngIf="mostrarFondoLogo" class="area-interactiva fondo-presentacion-logo"></div>

  <div *ngIf="mostrarFondoPersecucionBosque" class="area-interactiva fondo-bosque" [class.fondo-cabania]="faseIntro === 4 && subFasePersecucion === 2"></div>

  <div *ngIf="mostrarMarco" class="marco-narrativo">
    <p class="textoDelMarco">
      {{ textoMostrado }}
    </p>

    <div class="contenedor-acciones">

      <img *ngIf="mostrarFlecha"
           src="/assets/flecha3.png"
           (click)="avanzar()"
           class="flecha-img efecto-hover" alt="Siguiente">

      <img *ngIf="mostrarBotonJuego && faseIntro === 4 && subFasePersecucion === 2"
           src="/assets/iniciarJuego.png"
           class="btn-iniciar efecto-hover"
           (click)="finalizarIntro()"
           alt="Iniciar Juego">

    </div>
  </div>

</div>
