/* En src/styles.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  border: none;
  outline: none;
  /* ---> EL TRUCO DE LA LUZ <--- */
  filter: brightness(1.2) contrast(1.05);
}
