<div class="contenedor-juego">
  <div class="area-interactiva fondo-puerta-final">

    <div *ngIf="escena === 0" class="cuadro-narrativo-centro">
      <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
      <div class="contenido-texto-narration">
        <p class="texto-historia">
          Caminas lento porque no puedes creer lo que ven tus ojos, ante ti, una puerta muy extraña se presenta.<br><br>
          Es de un tipo de piedra que nunca habías visto, su forma también es única, con una ranura en el centro de una forma extraña.
        </p>
        <img src="/assets/flecha3.png" class="imagen-accion-narracion efecto-hover" (click)="avanzarEscena()" alt="Siguiente">
      </div>
    </div>

    <div *ngIf="escena === 1" class="cuadro-narrativo-centro">
      <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
      <div class="contenido-texto-narration">
        <p class="texto-historia">
          El resplandor violeta de las runas grabadas en el borde del marco llama tu atención, no está tallado, parece como si la piedra hubiera nacido con esas marcas.<br><br>
          Reconoces las runas, es del pueblo Valea Furtunil, no reconoces todas pero si una específica...
        </p>
        <img src="/assets/flecha3.png" class="imagen-accion-narracion efecto-hover" (click)="avanzarEscena()" alt="Siguiente">
      </div>
    </div>

    <div *ngIf="escena === 2" class="cuadro-narrativo-centro">
      <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
      <div class="contenido-texto-narration">
        <p class="texto-historia">
          <strong>"EL ESPIRITU DE LA TORMENTA"</strong><br><br>
          Tratas de abrirla, de moverla, de levantarla, pero no hay caso, está firme como una montaña. Al parecer lo único que se puede hacer es intentar descifrar la ranura, es la clave de todo esto.
        </p>
        <img src="/assets/Cerrar.png" class="imagen-accion-narracion efecto-hover" (click)="avanzarEscena()" alt="Cerrar">
      </div>
    </div>

    <div *ngIf="escena === 3" class="interfaz-mochila-sotano">

      <div class="contenedor-volver-arriba">
        <img src="/assets/Volver.png" class="imagen-boton-volver efecto-hover" (click)="volverAtras()" alt="Volver atrás">
      </div>

      <div class="panel-inferior-sotano">
        <img src="/assets/MarcoDeTextoRectangular.png" class="fondo-marco-rect">
        <div class="contenido-panel-mochila">
          <h2 class="titulo-mochila-centrado">MOCHILA</h2>
          <div class="contenedor-lista-objetos">
            <div *ngFor="let item of inventarioUsuario"
                 class="objeto-lista efecto-hover"
                 (click)="abrirMiniMenu(item)">
              - {{ item.nombre }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="mostrarMiniMenu && itemSeleccionado" class="mini-menu-acciones-sotano">
        <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-cuadrado">
        <div class="contenido-acciones-mini">
          <img src="/assets/x.png" class="cerrar-mini-esquina efecto-hover" (click)="cerrarMiniMenu()" alt="Cerrar">
          <div class="opcion-accion efecto-hover" (click)="usarObjeto()">- Usar</div>
        </div>
      </div>
    </div>

    <div *ngIf="mostrarErrorRanura" class="pantalla-bloqueo-modal">
      <div class="cuadro-modal-centrado">
        <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
        <div class="contenido-texto-modal">
          <p class="texto-error-modal">Este objeto no encaja en la ranura</p>
          <img src="/assets/Cerrar.png" class="imagen-accion-modal efecto-hover" (click)="cerrarError()" alt="Cerrar">
        </div>
      </div>
    </div>

    <div *ngIf="escena === 4" class="pantalla-bloqueo-modal">
      <div class="cuadro-modal-centrado">
        <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
        <div class="contenido-texto-modal">
          <p class="texto-exito-final">
            Te acordás del amuleto que recuperaste de tu abuelo en el bosque.<br><br>
            Lo tomás y, con mucho cuidado, lo apoyás sobre la ranura.<br><br>
            Lentamente, el objeto empieza a encajar en la puerta con una precisión que parece imposible a la vista.
          </p>
          <img src="/assets/flecha3.png" class="imagen-accion-modal efecto-hover" (click)="avanzarEscena()" alt="Siguiente">
        </div>
      </div>
    </div>

    <div *ngIf="escena === 5" class="pantalla-bloqueo-modal">
      <div class="cuadro-modal-centrado">
        <img src="/assets/MarcoDeTextoCuadrado.png" class="fondo-marco">
        <div class="contenido-texto-modal">
          <p class="texto-exito-final">
            Cuando toca el fondo, el amuleto comienza a brillar con un tono violeta intenso.<br><br>
            La puerta empieza a vibrar levemente y comienza a enterrarse en el piso...
          </p>
          <img src="/assets/Cerrar.png" class="imagen-accion-modal efecto-hover" (click)="cerrarExitoAmuleto()" alt="Cerrar">
        </div>
      </div>
    </div>

    <div *ngIf="escena === 6" class="pantalla-negra-absoluta animacion-fade-lento">
      <h1 class="titulo-entrar efecto-hover" (click)="irACatacumbas()">Entrar en las catacumbas</h1>
      <div class="contenedor-volver-final">
        <img src="/assets/Volver.png" class="imagen-boton-volver efecto-hover" (click)="volverDePantallaNegra()" alt="Volver">
      </div>
    </div>

  </div>
</div>
